@charset "UTF-8";
/* line 1, ../css/base/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 8, ../css/base/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 10, ../css/base/_reset.scss */
body {
  line-height: 1;
}

/* line 12, ../css/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 14, ../css/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 17, ../css/base/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 21, ../css/base/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 24, ../css/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 27, ../css/base/_reset.scss */
b {
  font-weight: 700;
}

/* line 30, ../css/base/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 1, ../css/base/_root.scss */
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 13, ../css/base/_root.scss */
.container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* line 20, ../css/base/_root.scss */
.logo {
  margin: 20px 0;
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
  text-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-animation: FadeIn 1s;
  -moz-animation: FadeIn 1s;
  -ms-animation: FadeIn 1s;
  -o-animation: FadeIn 1s;
  animation: FadeIn 1s;
}

/* line 34, ../css/base/_root.scss */
.usermenu:before, .usermenu:after {
  content: " ";
  display: table;
  clear: both;
}
/* line 39, ../css/base/_root.scss */
.usermenu ul {
  float: right;
}
/* line 41, ../css/base/_root.scss */
.usermenu ul li {
  float: left;
  margin-left: 20px;
  color: #000;
}
/* line 46, ../css/base/_root.scss */
.usermenu ul .logout {
  cursor: pointer;
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes MoveDown {
  from {
    top: -20px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@-moz-keyframes MoveDown {
  from {
    top: -20px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes MoveDown {
  from {
    top: -20px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes MoveRight {
  from {
    margin-left: -10px;
  }
  to {
    margin-left: 0;
  }
}
@-moz-keyframes MoveRight {
  from {
    margin-left: -10px;
  }
  to {
    margin-left: 0;
  }
}
@-webkit-keyframes MoveRight {
  from {
    margin-left: -10px;
  }
  to {
    margin-left: 0;
  }
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?59737861");
  src: url("../font/fontello.eot?59737861#iefix") format("embedded-opentype"), url("../font/fontello.woff?59737861") format("woff"), url("../font/fontello.ttf?59737861") format("truetype"), url("../font/fontello.svg?59737861#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../css/base/_elements.scss */
.icon-font {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 25, ../css/base/_elements.scss */
.icon-check:before {
  content: '\e805';
}

/* '' */
/* line 26, ../css/base/_elements.scss */
.icon-check-empty:before {
  content: '\e806';
}

/* '' */
/* line 27, ../css/base/_elements.scss */
.icon-cancel:before {
  content: '\e807';
}

/* '' */
/* line 28, ../css/base/_elements.scss */
.icon-right:before {
  content: '\e802';
}

/* '' */
/* line 29, ../css/base/_elements.scss */
.icon-up:before {
  content: '\e803';
}

/* '' */
/* line 30, ../css/base/_elements.scss */
.icon-down:before {
  content: '\e804';
}

/* '' */
/* line 31, ../css/base/_elements.scss */
.icon-plus:before {
  content: '\e800';
}

/* '' */
/* line 32, ../css/base/_elements.scss */
.icon-minus:before {
  content: '\e801';
}

/* '' */
/* line 33, ../css/base/_elements.scss */
.icon-logout:before {
  content: '\e808';
}

/* '' */
/* line 35, ../css/base/_elements.scss */
.through {
  text-decoration: line-through;
}

/* line 39, ../css/base/_elements.scss */
input, textarea {
  width: 100%;
  padding: 15px 20px 10px 20px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}
/* line 46, ../css/base/_elements.scss */
input:focus, textarea:focus {
  border: 1px solid #FF00E0;
}

/* line 50, ../css/base/_elements.scss */
.input-block {
  position: relative;
  width: 100%;
}
/* line 53, ../css/base/_elements.scss */
.input-block label {
  position: absolute;
  top: 3px;
  left: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #FF00E0;
  pointer-events: none;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
/* line 66, ../css/base/_elements.scss */
.input-block .icon-right {
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -10px;
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
}
/* line 74, ../css/base/_elements.scss */
.input-block .icon-right:hover {
  color: #000;
}
/* line 78, ../css/base/_elements.scss */
.input-block .error-tipsy {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid transparent;
  background: #D3375B;
  -webkit-animation: FadeIn .3s;
  -moz-animation: FadeIn .3s;
  -ms-animation: FadeIn .3s;
  -o-animation: FadeIn .3s;
  animation: FadeIn .3s;
}
/* line 95, ../css/base/_elements.scss */
.input-block .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -35px;
  margin-top: -9px;
}

/* line 104, ../css/base/_elements.scss */
.input-block-empty label {
  top: 50%;
  margin-top: -8px;
  font-size: 16px;
  color: #ccc;
}

/* line 112, ../css/base/_elements.scss */
.signin-form {
  position: relative;
  width: 300px;
  max-width: 100%;
  margin: 30px auto;
  padding: 30px;
  background-color: #000;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #fff;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-animation: MoveDown 2s;
  -moz-animation: MoveDown 2s;
  -ms-animation: MoveDown 2s;
  -o-animation: MoveDown 2s;
  animation: MoveDown 2s;
}
/* line 131, ../css/base/_elements.scss */
.signin-form h3 {
  position: absolute;
  padding: 3px 10px;
  top: -10px;
  background: #F00;
}

/* line 140, ../css/base/_elements.scss */
.spinner {
  width: 70px;
  text-align: center;
}

/* line 146, ../css/base/_elements.scss */
.spinner div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
/* line 155, ../css/base/_elements.scss */
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
/* line 159, ../css/base/_elements.scss */
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

/* line 1, ../css/base/_dashboard.scss */
.dashboard-block {
  position: relative;
  width: 400px;
  max-width: 100%;
  margin: 40px auto;
  padding: 20px 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background: #3C2965;
}
/* line 10, ../css/base/_dashboard.scss */
.dashboard-block .spinner-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}
/* line 17, ../css/base/_dashboard.scss */
.dashboard-block .spinner-block .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -35px;
  margin-top: -9px;
}
/* line 26, ../css/base/_dashboard.scss */
.dashboard-block ul li {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}
/* line 32, ../css/base/_dashboard.scss */
.dashboard-block ul li:last-child {
  border-bottom: 0;
}
/* line 35, ../css/base/_dashboard.scss */
.dashboard-block ul li .dashboard-nav {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 20px;
  width: 30px;
  background: #FF00E0;
  border-radius: 20px;
}
/* line 43, ../css/base/_dashboard.scss */
.dashboard-block ul li .dashboard-nav .dashboard-toggle {
  position: absolute;
  top: 3px;
  left: 50%;
  margin-left: -8px;
  font-size: 16px;
  cursor: pointer;
}
/* line 50, ../css/base/_dashboard.scss */
.dashboard-block ul li .dashboard-nav .dashboard-toggle:before {
  content: '\e804';
}
/* line 55, ../css/base/_dashboard.scss */
.dashboard-block ul li .dashboard-header {
  font-size: 18px;
  line-height: 24px;
  padding-left: 40px;
  cursor: pointer;
}
/* line 61, ../css/base/_dashboard.scss */
.dashboard-block ul li .dashboard-items {
  padding: 20px 0;
}
/* line 63, ../css/base/_dashboard.scss */
.dashboard-block ul li .dashboard-items .dashboard-item {
  position: relative;
  padding: 10px 0 10px 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 69, ../css/base/_dashboard.scss */
.dashboard-block ul li .dashboard-items .dashboard-item .checkbox, .dashboard-block ul li .dashboard-items .dashboard-item .icon-cancel {
  position: absolute;
  top: 50%;
  left: 8px;
  margin-top: -8px;
  font-size: 16px;
  cursor: pointer;
}
/* line 76, ../css/base/_dashboard.scss */
.dashboard-block ul li .dashboard-items .dashboard-item .checkbox:hover, .dashboard-block ul li .dashboard-items .dashboard-item .icon-cancel:hover {
  color: rgba(255, 255, 255, 0.51);
}
/* line 80, ../css/base/_dashboard.scss */
.dashboard-block ul li .dashboard-items .dashboard-item .icon-cancel {
  right: 8px;
  left: auto;
}
/* line 86, ../css/base/_dashboard.scss */
.dashboard-block ul li .dashboard-items-hidden {
  display: none;
}
/* line 89, ../css/base/_dashboard.scss */
.dashboard-block ul li .new-item {
  margin: 20px 0 10px 0;
  text-align: center;
}
/* line 92, ../css/base/_dashboard.scss */
.dashboard-block ul li .new-item a {
  color: #fff;
  text-decoration: none;
}
/* line 95, ../css/base/_dashboard.scss */
.dashboard-block ul li .new-item a i {
  margin-right: 5px;
}
/* line 98, ../css/base/_dashboard.scss */
.dashboard-block ul li .new-item a:hover {
  color: rgba(255, 255, 255, 0.51);
}
/* line 103, ../css/base/_dashboard.scss */
.dashboard-block ul li .searchPlace {
  padding-left: 40px;
}
/* line 105, ../css/base/_dashboard.scss */
.dashboard-block ul li .searchPlace input {
  padding: 5px 10px;
  font-size: 14px;
}
/* line 114, ../css/base/_dashboard.scss */
.dashboard-block ul .active .dashboard-nav .dashboard-toggle:before {
  content: '\e803';
}
